# In order to install [service name] you need to run
# pip install -r requirements.txt
# (i.e. target this file with the -r switch on pip).

# install esprit from submodule directory
-e esprit/

# install octopus from submodue directory
-e magnificent-octopus/

# now run the normal setup.py and get all the normal PyPI dependencies from there
-e .
